* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #848482;
  font-size: 16px;
}
h1{
  text-align: center;
  padding-top: 40px ;
  color: #FFFFFF;
}
input {
  width: 300px;
  padding: 10px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
}
.to_do_list {
  list-style: none;
  padding: 10px 0 0 5px ;
}
.check {
  font-weight: 700;
  color: red;
  cursor: pointer;
}
#page {
  width: 400px;
  min-height: 400px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 7px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
}
